/* styles.css */
body {
	font-family: Georgia, serif;
	background-color: #f9f9f9;
	margin: 20px;
	color: #222; /* default text color */
}

h1 {
	color: #111;
	text-align: center;
}

.skills-page h1 {
	color: navy;
}

p {
	font-size: 16px;
	color: #333;
}

